html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  /* padding: 20px; */
  color: goldenrod;
  font-size: 20px;
}



.container h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 50px;
  color: goldenrod;
}
